@use '../variables';

.c_post {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 100%;
  padding: 0 20px;
  margin-bottom: 70px;
}
.c_post__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 100%;
  padding: 30px;
  background-color: var(--c-post-bg);
}
.c_post__content {
  margin: 10px 0 0;
}
.c_post__ttl {
  margin: 0 0 15px;
  font-size: 1.4em;
}
.c_post__size {
  margin: 0 0 10px;
  font-size: 1.4em;
}
.c_post__tag {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  font-size: 1.4em;
}
